# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
.idea/*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# dep related files and folders
/vendor*

# ignore logfiles (/* so the .gitkeep override works)
/logs/*

# Builds by gox
/build

# Go Coverage tool
/coverage.out

# The built executable
fusion
fusion.exe

# IDE/Editor files (VS Code)
/.vscode

# test files
test_*/

# Keep all gitkeep files (This needs to stay at the bottom)
!.gitkeep
debug
.DS_Store
*.pprof
*.pdf
pprof.*